/* Bootstrap basic colors */
/* line 36, menu/static/css/main.sass */
body {
  height: 100%;
  min-height: 100%; }

/* line 42, menu/static/css/main.sass */
.food-menu {
  padding-top: 40px; }

/* line 45, menu/static/css/main.sass */
.drink-menu {
  padding-top: 130px; }

/* line 48, menu/static/css/main.sass */
.container {
  padding: 10%; }

/* line 51, menu/static/css/main.sass */
#menu-item {
  padding-top: 20px; }

/* line 54, menu/static/css/main.sass */
.menu-title {
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Courier New", monospace;
  font-weight: bolder;
  text-decoration: underline;
  text-shadow: 1px 1px gray; }

/* line 62, menu/static/css/main.sass */
#item-name {
  font-family: "Courier New", monospace;
  font-weight: bold; }

/* line 66, menu/static/css/main.sass */
#item-description {
  font-family: "Courier New", monospace; }

/* line 69, menu/static/css/main.sass */
#item-info {
  font-family: "Courier New", monospace;
  font-style: italic; }

/* nav bar */
/* line 75, menu/static/css/main.sass */
.dropdown-menu {
  background-color: #f8f9fa;
  border: None; }

/*footer */
/* line 80, menu/static/css/main.sass */
.footer {
  background-color: #f8f9fa;
  position: relative;
  height: auto; }
