/* line 3, menu/static/css/main.sass */
.food-menu {
  padding-top: 40px; }

/* line 6, menu/static/css/main.sass */
.drink-menu {
  padding-top: 200px; }

/* line 9, menu/static/css/main.sass */
.container {
  padding: 10%; }

/* line 12, menu/static/css/main.sass */
#menu-item {
  padding-top: 20px; }

/* line 15, menu/static/css/main.sass */
.menu-title {
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Courier New", monospace;
  font-weight: bolder;
  text-decoration: underline;
  text-shadow: 1px 1px gray; }

/* line 23, menu/static/css/main.sass */
#item-name {
  font-family: "Courier New", monospace;
  font-weight: bold; }

/* line 27, menu/static/css/main.sass */
#item-description {
  font-family: "Courier New", monospace; }

/* line 30, menu/static/css/main.sass */
#item-info {
  font-family: "Courier New", monospace;
  font-style: italic; }
