{% include "./header.html" %}
<body>
  {% include "./nav.html" %}
  <div class="container">
    <h4>Menu item</h4>
    {% for category in categories %}
    <h6>{{ category }}</h6>
    <ul class="list-group">
      {% for item in menu %}
      {% if item.category == category %}
        {% if item.active == True %}
          <li class="list-group-item">
            <h6>{{ item.item_name }}</h6>
            {% if item.runout == True %}
            <p>Currently out of stock</p>
            {% endif %}
            <a class="btn btn-outline-primary" role="button" href="/update/{{ link }}/{{ item.item_name }}">edit</a>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  {% if item.active %}
                    <a class="btn btn-outline-danger" id="edit-button" role="button" href="/active/{{ link }}/{{ item.item_name}}">Remove from menu</a>
                  {% endif %}
                  {% if item.runout %}
                    <a class="btn btn-outline-success" id="edit-button" role="button" href="/runout/{{ link }}/{{ item.item_name }}">Bring back to menu</a>
                  {% else %}
                    <a class="btn btn-outline-danger" id="edit-button" role="button" href="/runout/{{ link }}/{{ item.item_name }}">Runout</a>
                  {% endif %}
              </div>
          </li>
        </ul>
      {% endif %}
      {% endif %}
      {% endfor  %}
    {% endfor %}
    <h4>Items not in menu</h4>
    {% for category in categories %}
    <h6>{{ category }}</h6>
      {% for item in menu %}
      {% if item.category == category %}
      {% if item.active == False %}
        <ul class="list-group">
          <li class="list-group-item">
            <h6>{{ item.item_name }}</h6>
            <a class="btn btn-outline-primary" role="button" href="/update/{{ link }}/{{ item.item_name }}">edit</a>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <form class="" action="index.html" method="post">
                    <a class="btn btn-outline-success" id="edit-button" role="button" href="/active/{{ link }}/{{ item.item_name}}">Add to menu</a>
                </form>
              </div>
          </li>
        </ul>
      {% endif %}
      {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% include "./footer.html" %}
</body>
