{% include "./header.html" %}
<body class="food-menu">
  {% include "./menu_nav.html" %}
  <p>Please inform to our staff member if you have any allergy</p>
  {% for category in categories %}
    <h1 class='menu-title' id='{{ category }}'>{{ category }}</h1>
    {% for food in food_menu %}
      {% if food.active == True %}
        {% if food.category == category %}
          <div class="container-sm" id="menu-item">
            {% if food.runout == False %}
            <h2 id="item-name">{{ food.item_name }}
              <p id="item-name">{{ food.price }}</p>
            </h2>
            {% else %}
            <h2 id="item-name" style="text-decoration: line-through">{{ food.item_name }}
              <p id="item-name">{{ food.price }}</p>
            </h2>
            <p id="runout-msg">sorry, runout</p>
            {% endif %}
            <p id="item-description">{{ food.description }}</p>
            <ul>
            {% if food.glueten_free == True %}
              <li id="item-info" class="gluten">gluten free</li>
            {% endif %}
            {% if food.glueten_free_option == True %}
              <li id="item-info" class="gluten">gluten free option availble</li>
            {% endif %}
            {% if food.onion_garlic_free_option == True %}
              <li id="item-info" class="gluten">onion garlic free option availble</li>
            {% endif %}
            {% if food.sesame == True %}
              <li id="item-info" class="allergy">contain sesame</li>
            {% endif %}
            {% if food.soybeans == True %}
              <li id="item-info" class="allergy">contain soybeans</li>
            {% endif %}
            {% if food.nuts == True %}
              <li id="item-info" class="allergy">contain nuts</li>
            {% endif %}
            {% if food.peanuts == True %}
              <li id="item-info" class="allergy">contain peanuts</li>
            {% endif %}
            {% if food.mustard == True %}
              <li id="item-info" class="allergy">contain peanuts</li>
            {% endif %}
            </ul>
          </div>
        {% endif %}
    {% endif %}
    {% endfor %}
  {% endfor %}
</body>
